<div class="toolbar">
  Mobile commerce
  
</div><br>

<mat-card>
  <div class="flex-category">
    <mat-form-field>
      <mat-select placeholder="Select category">
        <mat-option value="All" (click)="All($event)" id = "All"> All </mat-option>
        <mat-option value="Samsung" (click)="Lays($event)"> Samsung </mat-option>
        <mat-option value="Iphone" (click)="Chio($event)"> Iphone </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex-bar">
    <div class="flex-search">
        <mat-form-field class="input">                              
          <input type="text" placeholder="Search" [(ngModel)]="name" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> 
    </div>
      <button mat-raised-button class="flex-button" (click)="Search()">Search</button>
  </div>
  

<mat-accordion class="accordion-border">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="content">
      <div class="portion-header">Shopping Bag</div> 
      <div class="portion-header right">Total: {{total}}</div>
    </mat-expansion-panel-header>
    <div *ngFor="let b of bag">
      <div class="content">
        <div class="portion">
          <p>{{b.name}}</p>
        </div>
        <div class="portion">
          <p>{{b.sortiment}}</p>
        </div>
        <div class="portion">
          <p>{{b.price}} lei</p>
        </div>
        <div class="portion">
            <button mat-raised-button color="warn" (click)="deleteBag(b)">Delete</button>
        </div>
      </div>
    </div>
    <div *ngIf="total" class="checkout">
        <button (click)="checkOut()">CheckOut</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

  <div *ngFor="let chip of chips">
    <div *ngIf="option === 'All'">
      <div>
        <div class="flex-container">
          <div class="details">
            <p>{{chip.name}} {{chip.sortiment}}</p>
            <p class="desc">{{chip.description}}</p><br>
            <p>rank: {{chip.rank}}</p>
            <p>{{chip.price}} lei</p>
          </div>
          <div class="picture">
            <img src = "{{chip.linkpoza}}">
          </div>
        </div>
        <div>
            <button (click)="addBag(chip)">Add to bag</button>
            <hr>
        </div>
      </div>
    </div>

    <div *ngIf="option === chip.name"> <!-- Clasification by name -->
      <div>
        
        <div class="flex-container">
          <div class="details">
            <p>{{chip.name}} {{chip.sortiment}}</p>
            <p class="desc">{{chip.description}}</p><br>
            <p>rank: {{chip.rank}}</p>
            <p>{{chip.price}} lei</p>
          </div>
          <div class="picture">
            <img src = "{{chip.linkpoza}}">
          </div>
        </div>
        <div>
          <button (click)="addBag(chip)">Add to bag</button>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<!--Footer-->

