<mat-card>
  <h1>Contact us</h1>
  <form (submit)="addSong($event)">
    <ul class="box">
      <li><input type="text" placeholder="Email"></li>
      <li><input type="textarea" placeholder="Your message"></li><br>
      <li><button>SUBMIT</button></li>
    </ul>
  </form>
  <br>
</mat-card>
<br><br>
<mat-card class="flex-box">
  <div class="flex-text text">Links: </div>
  <div class="flex-item">
      <a href="https://www.youtube.com/" target="_blank">
        <img src = "../../../assets/youTube.png" class="fa">
      </a>
  </div>
  <div class="flex-item">
    <a href="https://www.facebook.com" target="_blank" class="fa fa-facebook"> f </a>
  </div>
  <div class="flex-item">
      <a href="https://www.instagram.com" target="_blank">
        <img src = "../../../assets/instagram.png" class="fa">
      </a>
  </div>
  </mat-card>
  <br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
  <br><br>
  