mat-card{
    background: none;
    border: none;
    box-shadow: none !important;
    width: 75%;    
    margin: 0 auto;
}

mat-list-item{
    color: white !important;
}

button{
    background:  linear-gradient(150deg, #9c88ff,#554a8d );
    color: white;
    position: relative;
    left: 10px;
}

mat-list{
    background: rgba(255, 255, 255, 0.219);
    width: 100%;
    margin: 25px auto;
    padding: 10px;
    border-radius: 50px !important;
    text-align: center;
}

mat-form-field{
    width: 15% !important;
    margin: 4px !important;
    text-align: center;
}
mat-select{
    width: 90% !important;
    
}
mat-slider{
    max-width: 15% !important;
}

.divider{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    border: solid 1px rgba(255, 255, 255, 0.452);
    border-radius: 40%;
}

.flexBox{
    display: flex;
    color: white;
    margin: 0 auto;
    width: 100%;
}

.flex{
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
}

.title{
    text-align: center;
    color: white;
    font-size: 25px;
}

.field{
    position: absolute;
    left: 80px;
}



/* change the default of matInput colors */
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #554a8d !important;
   }

   ::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #554a8d !important;;
  }
